name: Update Holiday Countdown

on:
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch:

jobs:
  update-readme:
    if: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Run script
        run: node src/index.js

      - name: Commit and push changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ github.repository }}
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

          git add README.md

          if git diff --cached --quiet; then
            echo "No changes to commit"
          else
            git commit -m "chore: update holiday countdown"
            git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/${REPO}
            git push
          fi
